@page "/jsblazor"
@layout HomeMasterPage
@inject IJSRuntime JS;

<div class="container">
    <h3>JSBlazor</h3>

    <button class="btn btn-success" @onclick="handleClick">Say hello</button>
</div>

<script>
    function sayHello() {
        console.log("Hello cybersoft");
        localStorage.setItem("data", "data razor");
    }
    function tinhTong(lst) {
        let tong = 0;
        for (let item of lst) {
            tong += item;
        }
        return tong;
    }
</script>

@code {
    async Task handleClick()
    {
        await JS.InvokeVoidAsync("sayHello");
        List<int> ints = new List<int>() { 1, 2, 3 };
        var res = JS.InvokeAsync<int>("tinhTong", ints);
        Console.WriteLine(res.ToString());
    }
}