@page "/oneway-binding"
@layout HomeMasterPage


<div class="container">
    <h1>
        Hello ! @name
        <br />
        <span class="badge bg-danger">Score: @sum(5, 10)</span>
        <span class="badge bg-dark">count: @count</span>
        <button class="btn btn-primary" @onclick="changeCount">+</button>
    </h1>
</div>
@code {
    //Model (Class điều hướng giao diện phía trên) 
    private string name { get; set; } = "Nga";
    private int count{get;set;} = 1;
    private int sum(int a, int b)
    {
        return FuncUtil.sum(a,b);
    }
    private void changeCount(){
        count += 1;
        Console.WriteLine($"{count}");
    }

}