@inherits LayoutComponentBase

<HeaderAdmin />
<div class="content">
    <div class="row vh-100">
        <div class="col-2 bg-dark text-white p-3">
            <a href="/product-management" class="d-block text-white text-decoration-none mb-2">
                <i class="fa-solid fa-box me-2"></i> Product Management
            </a>
            <a href="/user-management" class="d-block text-white text-decoration-none">
                <i class="fa-solid fa-user me-2"></i> User Management
            </a>
        </div>
        <div class="col-10">
            @Body
        </div>
    </div>
</div>
