@inherits LayoutComponentBase
<div class="d-flex ">
    <div class="w-25 bg-dark" style="min-height: 100vh;">
        <ul>
            <li>Menu 1</li>
            <li>Menu 1</li>
            <li>Menu 1</li>
            <li>Menu 1</li>
        </ul>
    </div>
    <div class="w-75" style="min-height: 100vh;">
        @Body
    </div>
</div>