@page "/ex-carstore"

@inject IMapper _mapper;
@layout HomeMasterPage

<div class="container">
    <div class="text-end mt-2">
        <CartModal lstCartItem="@lstCartItem" />

    </div>

    <Modal prodDetail="@proDetailModal" />
    <ProductList LstProduct="@LstProduct" eventClickDetail="ChangeCarModal" eventClickAdd="AddCarModal" />
</div>

@code {
    ProductCarVM proDetailModal = new ProductCarVM()
        {
            Id = "1",
            Name = "Black car",
            Image = "/images/black-car.jpg",
            Price =
        1000
        };
    List<CartItemVM> lstCartItem = new List<CartItemVM>() {
new CartItemVM() {Id="1",Name="Black car", Image="/images/black-car.jpg",Price=1000,Quantity=1}
};



    void ChangeCarModal(ProductCarVM prodClick)
    {
        proDetailModal = prodClick;
    }
    void AddCarModal(CartItemVM prodClick)
    {
        CartItemVM existingItem = lstCartItem.Find(item => item.Id == prodClick.Id);
        if (existingItem != null)
        {
            existingItem.Quantity += prodClick.Quantity;
        }
        else
        {
            lstCartItem.Add(prodClick);
        }
    }




    List<ProductCarVM> LstProduct = new List<ProductCarVM>(){
new ProductCarVM() {Id="1",Name="Black car", Image="/images/black-car.jpg",Price=1000},
new ProductCarVM() {Id="2",Name="Red car", Image="/images/red-car.jpg",Price=2000},
new ProductCarVM() {Id="3",Name="Silver car", Image="/images/silver-car.jpg",Price=3000},
new ProductCarVM() {Id="4",Name="Steel car", Image="/images/steel-car.jpg",Price=4000},
};
}
