<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center p-1">
        <div class="d-flex flex-column align-items-center">
            <img src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/company_logos/z1sHNTFwtLk5Zov3quFddxbhrglLYd4i_1663151222____2af398221de2ba2d92dddc58724ce19e.jpeg"
                alt="..." width="50px" />
            <a class="navbar-brand me-auto" href="/">CyberSoft Store</a>
        </div>
        <div class="d-flex flex-column">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ms-3"
                style="cursor: pointer;">
                <circle cx="12" cy="8" r="4"></circle>
                <path d="M6 20c0-4 3-6 6-6s6 2 6 6"></path>
            </svg>
            <p class="text text-light">Bảo Admin</p>
        </div>
    </div>
</nav>
